body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(to top, black, #13044b)
}

.card {
    margin-bottom: 20px;
    border: none
}

.box {
    width: 500px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    background: var(--back-top);
    text-align: center;
    transition: 0.25s;
    margin-top: 100px
}

.box input[type="firstname"],
.box input[type="secondname"],
.box input[type="username"],
.box input[type="password"],
.box input[type="repeat"],
.box input[type="email"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid var(--buttons);
    padding: 10px 10px;
    width: 250px;
    outline: none;
    color:var(--buttons);
    border-radius: 24px;
    transition: 0.25s
}

.box h1 {
    color: var(--buttons);
    text-transform: uppercase;
    font-weight: 500
}

.box input[type="firstname"]:focus,
.box input[type="secondname"]:focus,
.box input[type="username"]:focus,
.box input[type="password"]:focus,
.box input[type="repeat"]:focus,
.box input[type="email"]:focus {
    width: 300px;
    color:var(--buttons);
    border-color: var(--blue-color);
}

.box input[type="submit"] {
    border: 0;
    background: var(--buttons);
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #ffffff;
    padding: 10px 40px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer
}

.box input[type="submit"]:hover {
    background: var(--backgroud)
}

.forgot {
    text-decoration: underline
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: var(--blue-color);
    color: var(--buttons);
    text-align: center;
    border-radius: 24px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-left: -80px;
    margin-top: -30px;
}
  /* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}
  /* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}
  
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}