<html style="height: 100%;">    
    <body>
        <div class="box" style="border: 1px solid #132c33;width: 200px;margin-right:auto;margin-left:auto;padding: 20px;padding-top: 10px !important;top: 50%;left: 50%;background: #d8e3e7;text-align: left;transition: 0.25s;">
            <h1 style="color: #132c33;font-weight: 500;position: center;text-align: center;">MEP.dev</h1>

            <div>
                Hi {{name}},
            </div>
            <div style="padding-top: 10px; padding-bottom:10px;">
                We are happy you signed up for MEP.dev. Please confirm your email address.
            </div>
            <div style="border-radius: 2px;margin:auto;text-align: center;">
                <a href= "{{link}}" target="_blank" style="background: #132c33;padding: 8px 12px; border: 1px solid #132c33;border-radius: 24px;font-family: Helvetica, Arial, sans-serif;font-size: 14px; color: #ffffff;text-decoration: none;font-weight:bold;display: inline-block;">
                    Verify Now             
                </a>
            </div>
            <div style="padding-top: 10px;">
                Welcome to MEP!
            </div>
        </div>
    </body>
</html>